ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

#gameBoardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  margin: 2rem 0;
  padding: 0;
  flex-direction: column;
}

#gameBoardList ol {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

#gameBoardList button {
  width: 6rem;
  height: 6rem;
  border: none;
  background: #aca788;
  color: #3f3b00;
  font-size: 4rem;
  cursor: pointer;
  font-family: "Caprasimo", cursive;
  padding: 1rem;
}
